#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: auto;
}

.djBox {
    border: 1px solid black;
    background-color: red;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
}

#box1:hover {
    width: 300px;
    border: 2px solid greenyellow;
    background-color: plum;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}

#box2:hover {
    width: 300px;
    border: 2px solid red;
    background-color: black;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}

#box3:hover {
    width: 300px;
    border: 2px solid palevioletred;
    background-color: blue;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}

#box4:hover {
    width: 300px;
    border: 2px solid teal;
    background-color: goldenrod;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}

#box5:hover {
    width: 300px;
    border: 2px solid orangered;
    background-color: burlywood;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}

#box6:hover {
    width: 300px;
    border: 2px solid rebeccapurple;
    background-color: royalblue;
    transition: background-color 1s ease-in 1s, border 1s linear, width 1s ease-in-out 1s;
    
}